extends layout

{{ $works := .Works }}

block content
	h1(translate) technologies i use

	ul.made-with__list.made-with__list--fullwidth
		{{ range .KnownTechnologies }}
		{{ if len ($works | madeWith .) }}
		li.made-with__item
			a(href="/using/{{ .URLName }}" title="[# 'See all works made with this technology' | translate #]")
				img.made-with__item__logo(
					src='{{ asset (printf "logos/%s.svg" .URLName) }}'
					alt="[# '{{ .DisplayName }}’s logo' | translate #]"
				)
				{{ if .Author }}
				span.made-with__item__subline {{ .Author }}
				{{ end }}
				span.made-with__item__name(translate) {{ .DisplayName }}
			{{ if .LearnMoreURL }}
			ul.made-with__item__links
				li: a.made-with__item__links__works(
					href="/using/{{ .URLName }}"
					title="[# 'See all works made with this technology' | translate #]"
				) →
				li: a.made-with__item__links__learn-more(
					href="{{ .LearnMoreURL }}"
					title="[# 'Learn more' | translate #]"
				) ?
			{{ end }}
		{{ end }}
		{{ end }}
