- const mediaType = contentType => contentType.split("/")[0]

p: a(href=`https://ewen.works/${currentWork.id}` target="_blank") learn more

each cell in (currentWorkLayedOut || []).filter(c => c.type == "media" && c.contentType != "directory")
	figure
		- let source = media(`${currentWork.id}/${cell.Path}`)
		case mediaType(cell.contentType)
			when "audio"
				audio(
					autoplay=cell.attributes.autoplay
					controls=cell.attributes.controls
					id=cell.id
					loop=cell.attributes.loop
					muted=cell.attributes.muted
					playsinline=cell.attributes.playsinline
					src=source
					title=cell.title
				)
					a(href=source)= source

			when "video"
				video(
					autoplay=cell.attributes.autoplay
					controls=cell.attributes.controls
					id=cell.id
					loop=cell.attributes.loop
					muted=cell.attributes.muted
					playsinline=cell.attributes.playsinline
					src=source
					title=cell.title
				)
					a(href=source)= source

		if cell.title
			figcaption= cell.title
