extends ../layout
//- TODO add info about since when I use the technology (get creation date of earliest project)

mixin skill(tech)
	- const hoursSpentWith = tech => (Object.keys(wakatimeAggregated.languages).includes(tech.URLName) ? Math.floor(wakatimeAggregated.languages[tech.URLName] / 3600) : 0)
	- const preprocessorsOf = { css: ["stylus", "sass", "vue", "nuxt", "svelte"], js: ["typescript", "livescript", "coffeescript", "vue", "nuxt", "svelte"], html: ["pug", "vue", "nuxt", "svelte", "django"], vue: ["nuxt"] }
	- const hoursIncludingPreprocs = tech => hoursSpentWith(tech) + (Object.keys(preprocessorsOf).includes(tech.URLName) ? preprocessorsOf[tech.URLName].reduce((acc, preproc) => acc + hoursSpentWith({ URLName: preproc }), 0) : 0)

	li.skill
		- const projectsCount = madeWith(all_works, tech).length

		img.logo(src=asset(`logos/${tech.URLName}.svg`))

		h4
			if tech.Author
				span.author= tech.Author
				| &nbsp;
			| #{ tech.DisplayName }:

		if projectsCount > 1
			a(href=`/using/${tech.URLName}`) #[span.count=projectsCount] #[i18n projects]
		else if projectsCount === 1
			a(href=`/${madeWith(all_works, tech)[0].ID}`) #[span.count 1] #[i18n project]
		
		if hoursIncludingPreprocs(tech)
			span.time
				span.count #{ hoursIncludingPreprocs(tech) }+&nbsp;
					if hoursIncludingPreprocs(tech) === 1
						| hour
					else
						| hours
				| &nbsp;of use

block append head
	+title("curriculum vitæ")
	+page-styles("resume")

block content
	- const programmingTechnologies = ["asciidoc", "coffeescript", "css", /* "csharp", "c++", "c", */ "djangorestframework", "django", "docopt", "fishshell", "go", "html", "javascript", "json", "livescript", "lua", "markdown", "nestjs", "nim", "nuxt", "oclif", "php", "plantuml", "postgresql", "pug", "python", "rubyonrails", "ruby", "rust", "sapper", "sass", "shell", "stylus", "svelte", "toml", "typescript", "vue", "webpack", "yaml", "lark", "raspberry-pi", "fyne", "nginx", "rollup", "vite", "nginx"]
	- const graphicDesignSoftware = ["figma", "gimp", "illustrator", "indesign", "photoshop", "krita", "penpot", "assembly"]
	- const motionDesignSoftware = ["aftereffects", "premierepro", "lightworks"]
	- const musicMakingSoftware = ["flstudio", "ableton"]
	- const preprocessorsOf = { css: ["stylus", "sass", "vue", "nuxt", "svelte"], js: ["typescript", "livescript", "coffeescript", "vue", "nuxt", "svelte"], html: ["pug", "vue", "nuxt", "svelte", "django"], vue: ["nuxt"] }
	- const hoursSpentWith = tech => (Object.keys(wakatimeAggregated.languages).includes(tech.URLName) ? Math.floor(wakatimeAggregated.languages[tech.URLName] / 3600) : 0)
	- const hoursIncludingPreprocs = tech => hoursSpentWith(tech) + (Object.keys(preprocessorsOf).includes(tech.URLName) ? preprocessorsOf[tech.URLName].reduce((acc, preproc) => acc + hoursSpentWith({ URLName: preproc }), 0) : 0)
	- const projectsUsing = tech => madeWith(all_works, tech)
	- const technologies = domain => all_technologies.filter(t => domain.includes(t.URLName)).filter(t => hoursIncludingPreprocs(t) || projectsUsing(t).length).sort((a, b) => hoursIncludingPreprocs(a) - hoursIncludingPreprocs(b) + projectsUsing(a).length - projectsUsing(b).length).reverse()

	p.pre-h1 Ewen Le Bihan
	h1 curriculum vitæ

	section.skills
		h2 skills
		h3 language
		ul.skills-list
			li.skill
				h4 Français
				p Native

			li.skill
				h4 日本語
				a(href="https://duome.eu/ewen_lbh/en/ja")=translate("%v-day streak on Duolingo, %v league", duolingoJapanese.streak, duolingoJapanese.league)

			li.skill
				h4 English
				dl
					dt
						| TOEIC
					dd.ranking
						| 950
						span.fraction-slash ⁄
						| 990
						span.date 12 March 2020

					dt CECRL
					dd C1

					//- dt ILR
					//- dd 4

					//- dt ACTFL
					//- dd S

		h3 programming
			p.inline work time tracked by #[a(href="https://wakatime.com") WakaTime]
		ul.skills-list
			each tech in technologies(programmingTechnologies)
				+skill(tech)

		h3 arts
		ul.skills-list
			each tech in technologies(graphicDesignSoftware)
				+skill(tech)
			each tech in technologies(motionDesignSoftware)
				+skill(tech)
			each tech in technologies(musicMakingSoftware)
				+skill(tech)

	section.education
		h2 education

		section
			header.timespan 2022—now
			.content
				h3 #[abbr(title="École nationale supérieure d'électrotechnique, d'électronique, d'informatique, d'hydraulique et des télécommunications") ENSEEIHT]

				h4 what
				p.what INP-ENSEEIHT (“École nationale supérieure d'électrotechnique, d'électronique, d'informatique, d'hydraulique et des télécommunication”) A top-ranking engineering graduate school based in Toulouse, France.

				h4 where
				a.where(href="https://goo.gl/maps/w7PHkAqmQoHCFxFn9" style=`background-image: url(${asset("map-toulouse.png")})`) Toulouse, France

		section
			header.timespan 2020—2022
			.content
				h3 #[abbr(title="Classes préparatoires aux Grandes Écoles") CPGE]
				h4 what
				p.what A two-year intensive preparation course for the competitive entrance exams to the top engineering schools (“les Grandes Ecoles”) in France.
				h4 where
				a.where(href="https://goo.gl/maps/tacLXnRZyw13UcqJ9" style=`background-image: url(${asset("map-nîmes.png")})`) Nîmes, France
				h4 results
				p My ranks at entrance exams
				dl.results
					dt: a(href="https://www.concours-mines-telecom.fr/") Mines-Télécom
					dd.ranking
						| 1104
						sup th
						span.fraction-slash ⁄
						| 7862

					dt: a(href="https://www.concours-commun-inp.fr/"): abbr(title="Concours commun des instituts nationaux polytechniques") CCINP
					dd.ranking
						| 1791
						sup st
						span.fraction-slash ⁄
						| 5467


	section.experience
		h2 experience
		
		section
			header.timespan 
			.content
				h3 internship @ #[a(href="")]
