extends ../../layout

block content
	- const technologies = [...new Set(currentCollection.works.map(w => w.metadata.madeWith).flat().map(lookupTech).map(t => t.urlName))].map(lookupTech)
	- const isMusic = currentCollection.title === "music"

	h1= isMusic ? translate("I make electronic music.") : currentCollection.title
	.intro!= currentCollection.description

	if currentCollection.learnMoreAt
		a.description__learn-more(href=currentCollection.learnMoreAt)
			+icon("arrow-right")
			i18n Learn more

	section#technologies
		ul.technologies-list.logos-only
			each tech in technologies
				li: a(
					href=`/using/${tech.urlName}`
					title=`${tech.author}${tech.author ? " "  : ""}${tech.displayName}`
				)
					img(
						alt=translate(`%s’s logo`, tech.displayName)
						src=asset(`logos/${tech.urlName}.svg`)
					)
				
	if currentCollection.works.length > 0
		section#latest
			h2(i18n) most recent one

			+work-card(latestWork(currentCollection.works), "display")

		section#all
			h2(i18n) all

			+gallery(currentCollection.works)

	else
		section#none
			h2(i18n) nothing to see here.
