mixin seo-tags
	meta(
		content="portfolio," +
		all_tags
			.map(t => t.Singular)
			.filter(t => !!t)
			.join(",")
		name="keywords"
	)
	meta(
		content={ fr: "fr_FR", en: "en_US" }[current_language]
		property="og:locale"
	)
	meta(
		content=current_language === "fr" ? "en_US" : "fr_FR"
		property="og:locale:alternate"
	)
	meta(content="ewen.works" property="og:site_name")
	meta(content="portfolio" name="subject")
	meta(content="Ewen Le Bihan" name="copyright")
	meta(content=current_language name="language")
	meta(content=new Date().toDateString() name="revised")
	meta(content=new Date().toDateString() name="FSCreated")
	meta(content="index, follow" name="robots")
	meta(content="Ewen Le Bihan" name="author")
	meta(content="Worldwide" name="coverage")
	meta(content="True" name="HandheldFriendly")
	meta(content=`ortfo/mk v${ortfomk_version}` name="generator")
	//- TODO: dark mode
	meta(content="only light" name="color-scheme")
	meta(content="distribution" name="Global")
	meta(content="@ewen_lbh" name="twitter:site")
	meta(content="@ewen_lbh" name="twitter:creator")
	meta(content="website" property="og:type")
	//- favicon
	link(href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180")
	link(href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png")
	link(href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png")
	link(href="/site.webmanifest" rel="manifest")
	link(color="#0683ec" href="/safari-pinned-tab.svg" rel="mask-icon")
	meta(content="#2d89ef" name="msapplication-TileColor")
	meta(content="#ffffff" name="theme-color")

mixin metadata(options = {title: "", thumbnail: "", thumbnail_dimensions: {Height: 0, Width: 0, AspectRatio: 0}, kind: "website", canonical: "", description: "", player_url: ""})
	- let { title, thumbnail, kind, canonical, description, player_url, thumbnail_dimensions } = options

	if title !== ""
		title ewen.works: #{ title }
		meta(content=`ewen.works: ${ title }` property="og:title")
	else
		title ewen.works
		meta(content="ewen.works" property="og:title")

	if thumbnail !== ""
		meta(content=thumbnail name="thumbnail")
		meta(content=thumbnail property="og:image")
		meta(
			content=player_url ? "player" : (thumbnail_dimensions || { AspectRatio: 0 }).AspectRatio > 1.5 ? "summary_large_image" : "summary"
			name="twitter:card"
		)
		meta(content=thumbnail name="twitter:image")
		if player_url
			meta(content=player_url name="twitter:player")
			meta(content=thumbnail_dimensions.Width name="twitter:player:width")
			meta(content=thumbnail_dimensions.Height name="twitter:player:height")
	else
		meta(content="summary" name="twitter:card")

	if canonical !== ""
		meta(content=`https://ewen.works/${canonical}` property="og:url")
		meta(content=`https://ewen.works/${canonical}` name="twitter:site")

	- const defaultDescription = "Hi! I'm Ewen Le Bihan, interested in almost anything that is both creative and digital: music, graphism, website design, software, motion design… This is my portfolio."

	meta(content=description || defaultDescription name="description")
	meta(content=description || defaultDescription property="og:description")

	meta(content=kind property="og:type")

mixin title(title="")
	+metadata({title})
