extends ../../layout

block append head
	+metadata(
		thumbnail=asset(`logos/${currentTech.urlName}.svg`)
		title=translate("works made with %s", currentTech.DisplayName)
	)

block content
	img.made-with-page__logo(
		src=`${ asset(`logos/${currentTech.urlName}.svg`) }`
	)
	h1.made-with-page__header
		i18n works made with
		br
		| #{ currentTech.DisplayName }
	p.description(i18n)!= currentTech.Description
	if currentTech.LearnMoreURL
		a.description__learn-more(href=currentTech.LearnMoreURL) 
			+icon("arrow-right")
			i18n Learn more

	section.made-with-page__gallery
		+gallery(madeWith(allWorks, currentTech), classes=`tech-${ currentTech.urlName }`)
