extends ../../layout

block append head
	+title(translate("technologies i use"))

block content
	h1(i18n) technologies i use

	ul.made-with__list.made-with__list--fullwidth
		each tech in all_technologies
			if madeWith(all_works, tech).length
				li.made-with__item
					a(href=`/using/${ tech.URLName }` title=translate("More..."))
						img.made-with__item__logo(
							alt=translate("%s’s logo", tech.DisplayName)
							src=asset(`logos/${tech.URLName}.svg`)
						)
						if tech.Author
							span.made-with__item__subline= tech.Author
						span.made-with__item__name= tech.DisplayName
