extends .layout

block append head
	link(rel="stylesheet" href='{{ asset "vendor/dialog-polyfill.css" }}')

block content
	ul.tags
		{{ range .CurrentWork.Metadata.Tags }}
		{{ $tag := . | lookupTag }}
		li: a(href="/{{ $tag.URLName }}" translate) {{ $tag.Singular }}
		{{ end }}

	{{ if .CurrentWork.IsWIP }}
	a.work-in-progress(href="/#wip" translate) work in progress
	{{ end }}

	section.contents
		h1(data-style="{{ .CurrentWork.Metadata.Title }}") {{ .CurrentWork.Title }}

		{{ .CurrentWork | intoLayout | tnindent 2 }}

	{{ if (len .CurrentWork.Footnotes) }}
	section.footnotes
		h2.footnotes__title(translate) footnotes
		dl.footnotes__list
			{{ range .CurrentWork.Footnotes }}
			dt(id="fn:{{ .Name }}")
				a(href="#fn:{{ .Name }}") {{ .Name }}
			dd
				p {{ .Content }}
				a.footnotes__list__item__reference-link(href="#fnref:{{ .Name }}" translate)
					| ↖ Back to the text
				//- TODO: handle multiple references (needs change in portfoliodb to add footnotes[].references)
				//- { if ge (len .References) 2 }
				//- ol.footnotes__list__item__references
				//- 	{ range .References }
				//- 	li: a(href="#fnref:{ . }") ↗ { . }
				//- 	{ end }
				//- { end }
			{{ end }}
	{{ end }}

	{{ if (len .CurrentWork.Metadata.MadeWith) }}
	section.made-with
		h2.made-with__title(translate) made with
		p.made-with__explainer(translate) the software, frameworks, libraries, materials and services I used to make this
		ul.made-with__list
			{{ range .CurrentWork.Metadata.MadeWith }}
			{{ $tech := . | lookupTech }}
			li.made-with__item
				a(href="/using/{{ $tech.URLName }}" title="[# 'See all works made with this technology' | translate #]")
					img.made-with__item__logo(
						src='{{ asset (printf "logos/%s.svg" $tech.URLName) }}'
						alt="[# '{{ $tech.DisplayName }}’s logo' | translate #]"
					)
					{{ if $tech.Author }}
					span.made-with__item__subline {{ $tech.Author }}
					{{ end }}
					span.made-with__item__name(translate) {{ $tech.DisplayName }}
				{{ if $tech.LearnMoreURL }}
				ul.made-with__item__links
					li: a.made-with__item__links__works(
						href="/using/{{ $tech.URLName }}"
						title="[# 'See all works made with this technology' | translate #]"
					) +
					li: a.made-with__item__links__learn-more(
						href="{{ $tech.LearnMoreURL }}"
						title="[# 'Learn more' | translate #]"
					) ↗
				{{ end }}
			{{ end }}
	{{ end }}

	dialog#media-closeup(onclick="this.close()")
		.media.empty
		button.close(onclick="this.parentElement.close()" title="[# 'Close' | translate #]") ×

	style.
		:root {
			{{ range $key, $value := .CurrentWork | getColorsMap }}
			--{{$key}}: {{$value}};
			{{- end -}}
		}

		{{ if .CurrentWork.Metadata.PageBackground }}
		body {
			background-image: url('{{ media (printf "%s/%s" .CurrentWork.ID .CurrentWork.Metadata.PageBackground) }}');
		}
		{{ end }}

	script(src='{{ asset "vendor/dialog-polyfill.js" }}')
	script.
		document.querySelectorAll('dialog').forEach(el => {
			dialogPolyfill.registerDialog(el)
		})
	script(src='{{ asset "ui.js" }}')
