<!DOCTYPE html>
- const cleanedUp = works => works.filter(w => w.Paragraphs && w.Paragraphs.length && w.Title)
- const cellWidth = cell => { const [_, __, start, end] = PositionBounds(cell); return end - start + 1 }
- const layoutWidth = cells => Math.max(...cells.map(cellWidth))

include mixins/work-card
include mixins/spinner
include mixins/gallery
include mixins/per-page-styles
include mixins/seo
include mixins/icon

html(lang=current_language)
	head: block head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href=asset("global.css"))
		link(rel="stylesheet", href=asset("style.css"))
		link(rel="stylesheet", href=asset("fonts/import.css"))
		link(rel="stylesheet", href=asset("vendor/progressive-image.css"))
		script(src=asset("vendor/progressive-image.js"))
		script(src=asset("vendor/instant-page-5.1.0.js") type="module" defer=true)
	body(data-instant-intensity="viewport")
		block nav
			nav
				ul
					li: a(i18n href="/") works
					li: a(i18n href="/music") music
					li: a(i18n href="/about") about
					//- li: a(i18n href="https://blog.ewen.works") blog
					li: a(i18n href="/contact") contact
					li: a(i18n href="/made-with") thanks
					li: a(i18n onclick=`window.location.hostname = '${ current_language == "fr" ? "en" : "fr" }.ewen.works';`) en français
		main
			block content
		footer
			.links
				span.links__hint ewen.works/to/
				dl
					each site in all_sites
						dt: a(href=`https://${current_language}.ewen.works/to/${site.Name}`)=site.Name
						dd(i18n)=site.Purpose

			.credits(role="contentinfo")
				p(i18n) Made with &lt;3 by Ewen Le Bihan
				p(i18n) Proudly #[strong not] powered by Wordpress
				p
					i18n source code at
					a(href="https://github.com/ewen-lbh/portfolio")  github.com/ewen-lbh/portfolio
				a.credits__license(href="https://creativecommons.org/licenses/by-sa/4.0/")
					img(src=asset("icons/cc-by-sa.svg"))
